*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62,5%;
}

body {
  background-color: #d9dbdc;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 415px;
}

.countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 400px;
}

.countries .country-list {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 125px;
}

.countries .country-list p {
  text-align: center;
  padding: 2em;
  width: 100%;
  border-radius: 25px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.countries .country-list p:hover {
  background-color: #e7f1f1;
}

.p-active {
  background-color: #e7f1f1;
}

.league-body {
  margin-top: 3em;
  margin-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 1em;
  min-width: 260px;
}

.league-body .league-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 8px 8px 24px 0px #42445a;
          box-shadow: 8px 8px 24px 0px #42445a;
  background-color: #e7f1f1;
  border-radius: 10px;
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.league-body .league-box .league-box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.league-body .league-box .league-box-top img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.league-body .league-box .league-box-top p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

.league-body .league-box .league-box-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.league-body .league-box .league-box-mid .league-box-mid-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.league-body .league-box .league-box-mid .league-box-mid-img img {
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

.league-body .league-box .league-box-mid .league-box-mid-text {
  padding: 2em;
  text-align: center;
}

.league-body .league-box:hover {
  background-color: azure;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5em;
}

.table .table-box {
  width: 70%;
  background-color: azure;
  border-radius: 10px;
}

.table .table-box .table-box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table .table-box .table-box-text img {
  width: 30px;
}

.table .table-box .table-box-text .name {
  cursor: pointer;
  width: 300px;
}

.table .table-box .table-box-text .name:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.table .table-box .table-box-text .form {
  display: inline;
}

.players {
  margin: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.players .players-logo-box {
  margin: 1em 0;
  background-color: azure;
  border-radius: 25px;
}

.players .players-logo-box .players-logo-box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.players .players-logo-box .players-logo-box-text h3 {
  margin-left: 1em;
  font-size: 1.5rem;
}

.players .players-logo-box .players-logo-box-text img {
  border-radius: 25px;
  width: 200px;
}

.players .players-logo-box h4 {
  border-top: 1px solid #dddddd;
  padding: 1em;
  text-align: center;
  font-size: 1.3rem;
}

.players .players-box {
  overflow: hidden;
  border-radius: 25px;
}

.players .players-box .player-box {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  background-color: azure;
}

.players .players-box .player-box img {
  width: 50px;
}

.player-stats-turnaments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.matches-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  -webkit-transition: .5s;
  transition: .5s;
}

.matches-body .match {
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.matches-body .match .match-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5em;
}

.matches-body .match .match-top .team img {
  width: 20px;
}

.matches-body .match .match-top .winner {
  color: lime;
}

.matches-body .match .match-bottom {
  -webkit-transition: .5s;
  transition: .5s;
  display: none;
}

.matches-body .match .active {
  -webkit-transition: .5s;
  transition: .5s;
  display: block;
}
/*# sourceMappingURL=main.css.map */