@import "colors";
@import "small";

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
// liga player tablea
html {
  font-family: "Roboto", sans-serif;
  font-size: 62, 5%;
}
body {
    position: relative;
  background-color: $bg-color;
}
.matches-link{
    position: fixed;
    right: 0;
    top: 150px;
    text-decoration: none;
    width: 50px;
    background-color: rgb(209, 86, 86);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: .2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: width .3s;
    img{
        width: 40px;
        height: 40px;
        --animate-duration: 2s;
    }
    span{
        color: #fff;
        margin-left: 7px;
    }
}
.matches-link:hover{
    width: 120px;
}
.container {
  width: 100%;
  margin: 0 auto;
//   max-width: 1200px;
  min-width: 415px;
  display: flex;
}

.logo{
  display: flex;
  margin-right: 3em;
  h1 {
    color: $font-color;
    font-size: 25px;
  }
  img {
    height: 50px;
    width: 50px;
  }
}
.country-list {
  width: 100%;
  background-color: $main-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 125px;
  padding: 1em;

  p {
    position: relative;
    text-align: center;
    font-size: 1rem;
    padding: 0.5em;
    width: 100%;
    border-radius: 25px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: $font-color;
  }

  p:hover {
    display: block;
    color: $active-color;
  }
}

.p-active {
  position: relative;
  border: 2px solid $active-color;
  p{
    color: $active-color;
  }
}

.countries {
  display: flex;
//   min-width: 400px;
width: 30%;
}

.league-body {
 
  margin:  1em 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  color: $font-color;
  .league-box {
    display: flex;
    background-color: $main-color;

    height: 50px;
    width: 100%;
    cursor: pointer;
   

    .league-box-mid {
      display: flex;
      padding: 10px;
      width: 100%;
      .league-box-mid-img {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        img {
          border-radius: 10px;
          width:40px;
          height: 40px;
          margin-right: 1em;
        }
        p{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-right: 20px;
        }
      }
    
    }
  }
  .league-box:hover {
    background-color:$font-color;
    color: $main-color;
  }
}

.table {
    
  display: flex;
 padding: 1em;
  flex-direction: column;
  align-items: space-between;
  gap: 0.5em;
  width: 100%;
  .table-box {
  
    width: 100%;
    background-color: $main-color;
    border-radius: 10px;

    .table-box-text {
        display: grid;
    grid-template-columns: repeat(12,1fr);
      padding: 1em;
      text-align: center;
      color: $font-color;
      img {
        grid-column: 2/3;
        width: 30px;
      }
      .lp{
        grid-column: 1/2;
      }
      .name {
        grid-column: 3/4;
        cursor: pointer;
        width: 200px;
      }
      .name:hover {
        text-decoration-line: underline;
      }
      .matches{
        grid-column: 4/5;
      }
      .wins{
        grid-column: 5/6;
      }
      .remis{
        grid-column: 6/7;
      }
      .lose{
        grid-column: 7/8;
      }
      .goals{
        grid-column: 8/9;
      }
      .points{
        grid-column: 9/10;
      }

      .form {
        grid-column: 10/12;
        display: inline;
        color:#fff;
        text-align: center;
        justify-content: center;
        width: 100%;
        span{
            margin-right: 5px;
            padding: .2em;
            border-radius: 5px;
        }
        .form-win{
            border-radius: 5px;
            background-color: rgb(57, 105, 57);
            padding: .2em;
        }
        .form-remis{
            background-color: rgb(43, 49, 119);
        }
        .form-lose{
            background-color: rgb(164, 48, 48)
        }
      }
    }
  }
}

.players {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  padding: 1em;
  .players-logo-box {
    margin: 1em 0;
    background-color: azure;
    border-radius: 25px;
    .players-logo-box-text {
      display: flex;
      padding: 1em;
      align-items: center;
      h3 {
        margin-left: 1em;
        font-size: 1.5rem;
      }
      img {
        border-radius: 25px;
        width: 200px;
      }
    }
    h4 {
      border-top: 1px solid rgb(221, 221, 221);
      padding: 1em;
      text-align: center;
      font-size: 1.3rem;
    }
  }

  .players-box {
    overflow: hidden;
    border-radius: 25px;
    .player-box {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
      background-color: azure;
      img {
        width: 50px;
      }
    }
  }
}
.player-stats-turnaments {
  display: flex;
}

.matches-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  transition: 0.5s;
  .match {
    cursor: pointer;
    background-color: #fff;
    transition: 0.5s ease-in-out;
    .match-top {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5em;
      .team {
        img {
          width: 20px;
        }
      }
      .winner {
        color: lime;
      }
    }

    .match-bottom {
      transition: 0.5s;
      display: none;
    }
    .active {
      transition: 0.5s;
      display: block;
    }
  }
}

@media screen and (max-width:990px) {
    .container{
        flex-direction: column;
    }
}
