*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
// liga player tablea
html{
    font-family: 'Roboto', sans-serif;
    font-size: 62,5%;
}
body{
    background-color: rgb(217, 219, 220);
}

.container{
    width: 100%;
     
    
    margin: 0 auto;
    max-width: 1200px;
}


.countries{
    display: flex;
    .country-body{
        // width: 70%;
    
    }
    
.country-list{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    p{
        text-align: center;
        padding: 2em;
        width: 100%;
        border-radius: 25px;
        transition: .2s ease-in-out;

    }
    p:hover{
        background-color: rgb(231, 241, 241);
    }
}
}

.p-active{
    background-color: rgb(231, 241, 241);
}

.league-body{
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em;
    .league-box{
       display: flex;
       flex-direction: column; 
       box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
       background-color: rgb(231, 241, 241);
       border-radius: 10px;
       height: 200px;
       width: 200px;
        .league-box-top{
            display: flex;
            padding: 10px;
            img{
                height: 50px;
                width: 50px;
                border-radius: 10px;
            }
            p{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100%;
            }
        }

        .league-box-mid{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .league-box-mid-img{
                display: flex;
                justify-content: center;
                img{
                    border-radius: 10px;
                    width: 50px;
                    height: 50px;
                }
            }
            .league-box-mid-text{
                padding: 2em;
                text-align: center;
            }
        }
    }
}