@import "colors";

@import "button";

.container{
  margin: 0 auto;
  max-width: 1200px;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: $bg-color;
  
}
h2,h1{
  text-align: center;
  color:$font-color;
  text-transform: uppercase;
  font-family: 'Russo One', sans-serif;
}
header{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3,1fr);
  h1{
    grid-column: 2/3;
    
  }
  img{
    margin: 0 auto;
    grid-column: 1/2;
    width: 50px;
  }
}
.filters{
  background-color: $main-color;
  position: relative;
  padding: 1em;
  color:$font-color;
 
}
form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 550px;
  gap: .5em;

}



.date-to,.date-from,select{
  background-color: $font-color;
  font-family: "Roboto Mono",monospace;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: .3em;
}

.winner{
  color: rgb(37, 202, 37);
}

.matches-body {
  font-family: 'Russo One', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1em;
    transition: 0.5s;
    margin: 0 auto;
    max-width: 1200px;
    .match {
      display: flex;
      flex-direction: column;
      background-color: $main-color;
      color: $font-color;
      cursor: pointer;
      p{
        text-align: center;
      }
      // background-color: #fff;
      transition: 0.5s ease-in-out;
      .match-top {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 1fr 100px;
        justify-content: center;
        align-items: center;
        img{
          width: 100px;
          
        }
        .team-name-first{
          padding-left: 1em;
          font-size: 1.5rem;
          grid-column: 1/2;
        }
        .team-name-second{
          padding-right: 1em;
          font-size: 1.5rem;
          grid-column: 5/6;
        }
        .team-1{
          grid-column: 2/3;
          grid-row: 1/2;
          margin: 0 auto;
        }
        .team-2{
          grid-column: 4/5;
          grid-row: 1/2;
          margin: 0 auto;
        }
        .time{
          grid-column: 3/4;
          grid-row: 1/2;
          font-size: 1.5rem;
        }
        .score-1{
          font-size: 3rem;
          grid-column: 2/3;
          grid-row: 2/3;
          text-align: center;
        }
        .score-2{
          font-size: 3rem;
          grid-column: 4/5;
          grid-row: 2/3;
          text-align: center;
        }
      }
  
      .match-bottom {
        transition: 0.5s;
        display: none;
        margin: 0 auto;
        .event-time{
          padding: 0 1em;
        }
        p{
          font-size: .75rem;
        }
        img{
          margin: 0 .5em;
          width: 25px;
        }
        .event-player{
          width: 150px;
        }
        .event-left,.event-right{
          border-top: 1px solid $font-color;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
        }
        .event-right{
          display: flex;
          flex-direction: row;
        }
        .team-left{
          width: 50%;
        }
        .team-right{
          width: 50%;
         
        }
        .event-text{
          height: 28px;
          align-items: center;
        }
    
      }
      .active {
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
    }
  }


  @media  screen and (max-width:620px){
    .matches-body{
      .match{
        .match-top{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          grid-template-rows: 1fr 1fr 1fr;
          .team-name-second{
            grid-column: 3/4;
            grid-row: 1/2;
          }
          p{
            width: 100%;
            
          }
          .team-name-first{
            padding: 0;
          }
          .team-2{
            grid-column: 3/4;
            grid-row: 2/3;
          }
          .score-2{
            grid-column: 3/4;
            grid-row: 3/4;
          }
          .score-1{
            grid-column: 1/2;
            grid-row: 3/4;
          }
          .time{
            grid-column: 2/3;
            grid-row: 2/3;
          }
          .team-1{
            grid-column: 1/2;
            grid-row: 2/3;
          }
        }
        .match-bottom{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .team-left{
            margin-bottom: 1.5em;
          }
        }
      }
    }
  
  }


  @media (min-width: 768px) {
    .button-59 {
      min-width: 170px;
    }
  }
