.country-button {
  margin: .5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #393939;
  border: 3px solid #b6b7b9;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #b6b7b9;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  fill: #000;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  width: 100%;
}

.country-button a {
  text-decoration: none;
  color: #b6b7b9;
}

.country-button:hover {
  background-color: #b6b7b9;
  color: #292929;
}

.form-submit, .back {
  margin: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #393939;
  border: 3px solid #b6b7b9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #b6b7b9;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  fill: #000;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.form-submit a, .back a {
  text-decoration: none;
  color: #b6b7b9;
}

.form-submit:hover, .back:hover {
  background-color: #b6b7b9;
  color: #292929;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #292929;
}

h2, h1 {
  text-align: center;
  color: #b6b7b9;
  text-transform: uppercase;
  font-family: 'Russo One', sans-serif;
}

header {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

header h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

header img {
  margin: 0 auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 50px;
}

.filters {
  background-color: #393939;
  position: relative;
  padding: 1em;
  color: #b6b7b9;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 550px;
  gap: .5em;
}

.date-to, .date-from, select {
  background-color: #b6b7b9;
  font-family: "Roboto Mono",monospace;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: .3em;
}

.winner {
  color: #25ca25;
}

.matches-body {
  font-family: 'Russo One', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0 auto;
  max-width: 1200px;
}

.matches-body .match {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #393939;
  color: #b6b7b9;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.matches-body .match p {
  text-align: center;
}

.matches-body .match .match-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr 100px;
      grid-template-rows: 1fr 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.matches-body .match .match-top img {
  width: 100px;
}

.matches-body .match .match-top .team-name-first {
  padding-left: 1em;
  font-size: 1.5rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.matches-body .match .match-top .team-name-second {
  padding-right: 1em;
  font-size: 1.5rem;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

.matches-body .match .match-top .team-1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin: 0 auto;
}

.matches-body .match .match-top .team-2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin: 0 auto;
}

.matches-body .match .match-top .time {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 1.5rem;
}

.matches-body .match .match-top .score-1 {
  font-size: 3rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  text-align: center;
}

.matches-body .match .match-top .score-2 {
  font-size: 3rem;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  text-align: center;
}

.matches-body .match .match-bottom {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: none;
  margin: 0 auto;
}

.matches-body .match .match-bottom .event-time {
  padding: 0 1em;
}

.matches-body .match .match-bottom p {
  font-size: .75rem;
}

.matches-body .match .match-bottom img {
  margin: 0 .5em;
  width: 25px;
}

.matches-body .match .match-bottom .event-player {
  width: 150px;
}

.matches-body .match .match-bottom .event-left, .matches-body .match .match-bottom .event-right {
  border-top: 1px solid #b6b7b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.matches-body .match .match-bottom .event-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.matches-body .match .match-bottom .team-left {
  width: 50%;
}

.matches-body .match .match-bottom .team-right {
  width: 50%;
}

.matches-body .match .match-bottom .event-text {
  height: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.matches-body .match .active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 620px) {
  .matches-body .match .match-top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .matches-body .match .match-top .team-name-second {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .matches-body .match .match-top p {
    width: 100%;
  }
  .matches-body .match .match-top .team-name-first {
    padding: 0;
  }
  .matches-body .match .match-top .team-2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .matches-body .match .match-top .score-2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .matches-body .match .match-top .score-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .matches-body .match .match-top .time {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .matches-body .match .match-top .team-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .matches-body .match .match-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .matches-body .match .match-bottom .team-left {
    margin-bottom: 1.5em;
  }
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}
/*# sourceMappingURL=matches.css.map */